$bg-primary: #f2f3f5;
$bg-black: #0e0e0e;
$bg-white: #ffffff;

$text-default: #6e6e6e;
$text-picked: #0e0e0e;
$text-black: #000000;

$border-grey: #ababab;

$accent-red: #e13c3c;

$black-alatau: #13131a;
$violet-alatau: #2131c1;

$gray-zenwei: #6e6e6e;
